{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 ">
    <h1>room : <a href="{% url 'chart:room' channel_id %}#chat">{{ channel.channel_text }}</a></h1>
	<h2>{{ channel.chat_set.count }} Chats</h2>
    {% if channel %}
       {% for chanel in channel.chat_set.all %}
        <ul>
          <li>
		    <font color="lightseablue">
              <h5>Sent: {{ chanel.date_chat }}</h5>
	          <h5>@{{ chanel.username }}</h5>
			</font>
           <p>
	       {{ chanel.chat_text }}
	       </p>
         </li>
        </ul>
        <br>
       {% endfor%}
       <div id="chat" style="">
         <form action="{% url 'chart:room' channel_id %}#chat" method="post">
           {% csrf_token %}
           <table>
            {{ form.as_table }}
           </table>
           <input type="submit" value="send"/><br><br>
        </form>
        <br><br><br><br>
       </div>  
    {% endif %}
     </div>
       <div class="col-sm-4">
       </div>
   </div>
</div>
{% endblock %}
