{% extends "base.html" %}

{% block content %}
<h4> My Thoughts</h4>
<ul>
<li>Since authentication is not required,</l> 
<li>each user during chat is required to enter their username on each chat </li>
<li>Message is sent on each channel</li>
<li>I have two model, Channel and Chat which have one to many database relationship</li>
<li>Each Channel can have many chat</li>
<li>All the templates extends to base templates</li>
<li>The app is responsive, can be used efficiently in mobile device</li>
</ul>
{% endblock %}